body {
  font-size: 0.9em;
}

a {
  color: #6b6bdf;
}

h1, h2, h3, h4, h5 {
  font-size: 2em;
}

.meta {
  margin: 0;
  margin-top: 5px;
  font-size: 0.8em;
}

.title-header {
  border-bottom: 7px solid #f7f7f7;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.site {
  width: 60em;
}
.site .footer {
  margin-top: 0;
  border-top: 0;
}
.site .footer .contact {
  margin-top: 60px;
  float: none;
  text-align: center;
  color: #b8b8b8;
  font-family: Georgia, serif;
  font-style: italic;
}
.site .footer .contact a {
  color: #b8b8b8;
  text-decoration: none;
}

.emoji {
  width: 25px;
  height: 25px;
  margin-bottom: -5px;
}

#share-buttons {
  margin-top: 40px;
  padding: 20px;
  background: #fafafa;
}

#post .highlight {
  border-radius: 5px;
}
#post pre {
  font-size: 0.9em;
  border: none;
}

.posts a {
  font-size: 1.1em;
  text-decoration: none;
}

#comments {
  margin-top: 30px;
}
