<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta property="og:image" content="http://blog.samuelsimoes.com/images/avatar.jpg">

        <title>{{ page.title }} | Samuel Simões</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/css/syntax.css">

        <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="/css/main.css" rel='stylesheet' type='text/css' media='all'>
        <link rel="stylesheet" href="/css/font-awesome.min.css" rel='stylesheet' type='text/css' media='all'>
        <link rel="stylesheet" href="/css/custom.css" rel='stylesheet' type='text/css' media='all'>
        <link rel="stylesheet" href="/css/twilight.css" rel='stylesheet' type='text/css' media='all'>

        <link href="{{ site.subscribe_rss }}" rel="alternate" title="{{site.title}}" type="application/atom+xml">

        <!-- Share This -->
        <script type="text/javascript">var switchTo5x=true;</script>
        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
        <script type="text/javascript">stLight.options({publisher: "ur-22924a6b-9757-b47e-b890-25d17ea8f523", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
        <!-- Google Analytics -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-40863315-1', 'samuelsimoes.com');
          ga('send', 'pageview');
        </script>

    </head>
    <body>
        <a href="https://github.com/samuelsimoes" id="github-ribbon">
          <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub">
        </a>

        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            </div>

                {{ content }}

            <div class="footer">
              <div class="contact">
              </div>
              <div class="contact">
                <p>
                  <a href="http://github.com/samuelsimoes/">Samuel Simões</a> ~ <a href="http://twitter.com/samuelsimoes/">@samuelsimoes</a><br />
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
